# Question 1: Given a two integer numbers return their product and  if the product is greater than 1000, then return their sum

In [1]:
(lambda a,b : a+b if a*b > 1000 else a*b)(int(input("Enter 1st number: ")),int(input("Enter 2nd number: ")))

Enter 1st number: 10
Enter 2nd number: 30

300

In [2]:
(lambda a,b : a+b if a*b > 1000 else a*b)(int(input("Enter 1st number: ")),int(input("Enter 2nd number: ")))

Enter 1st number: 10
Enter 2nd number: 300

310

# Question 2: Given a range of first 10 numbers, Iterate from start number to the end number and print the sum of the current number and previous number

In [3]:
print('\n'.join([str([x for x in range(10)][i+1] + [x for x in range(10)][i]) for i in range(10-1)]))

1
3
5
7
9
11
13
15
17

# Question 3: Given a string, display only those characters which are present at an even index number.

In [4]:
print("Even index chars : ", input('Enter the string: ')[2::2])

Enter the string: Johnson Francis
Even index chars :  hsnFacs

# Question 4: Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string

In [5]:
print("Even index chars : ", input('Enter the string: ')[:int(input('Enter n: '))])

Enter the string: Johnson Francis
Enter n: 5
Even index chars :  Johns

# Question 5: Given a list of numbers, return True if first and last number of a list is same

In [6]:
lst=[int(x) for x in input('Enter list of numbers delimited by comma: ').split(',')]
print('First & Last number matching ? ',lst[0]==lst[-1])

Enter list of numbers delimited by comma: 1,24,5,6,7,006,05,60,0001
First & Last number matching ?  True

In [7]:
lst=[int(x) for x in input('Enter list of numbers delimited by comma: ').split(',')]
print('First & Last number matching ? ',lst[0]==lst[-1])

Enter list of numbers delimited by comma: 2,34,5,6005,670,005,003
First & Last number matching ?  False

# Question 6: Given a list of numbers, Iterate it and print only those numbers which are divisible of 5

In [8]:
lst=[5,12,15,35,445,6788,3,45,67,7]
print(list(filter(lambda x : x%5==0 ,lst)))

[5, 15, 35, 445, 45]

# Question 7: Return the total count of sub-string “Emma” appears in the given string

In [9]:
print('Count of Emma : ',('Emma Rose Emma').count('Emma'))

Count of Emma :  2

# Question 8: Print the following pattern
1<br> 
2 2 <br>
3 3 3 <br>
4 4 4 4 <br>
5 5 5 5 5<br>

In [10]:
for i in range(1,6) : print(str(i)*i)

1
22
333
4444
55555

# Question 9: Reverse a given number and return true if it is the same as the original number

In [11]:
st=input('Enter a number: ')
print('Number and reverse match: ', st[::]==st[::-1])

Enter a number: 1234554321
Number and reverse match:  True

In [12]:
st=input('Enter a number: ')
print('Number and reverse match: ', st[::]==st[::-1])

Enter a number: 133556
Number and reverse match:  False

# Question 10: Given a two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list
First List  [10, 20, 23, 11, 17] <br>
Second List  [13, 43, 24, 36, 12] <br>
result List is [23, 11, 17, 24, 36, 12]

In [13]:
Flst=[10, 20, 23, 11, 17] 
Slst=[13, 43, 24, 36, 12]
print(list(filter(lambda x : x%2!=0,Flst)) + list(filter(lambda x : x%2==0,Slst)))

[23, 11, 17, 24, 36, 12]

# Question 11: Write a code to extract each digit from an integer, in the reverse order

In [14]:
print('Reverse: ', input('Enter the number')[::-1])

Enter the number1234567890
Reverse:  0987654321

# Question 12: Calculate income tax for the given income by adhering to the below rules
Taxable Income	Rate (%) 
First $ 10,000	zero% 
Next $10,000	10%
The remaining	20%

Expected Output:
For example, suppose that the taxable income is $ 45000  then the income tax payable is $10000*0% + $ 10000*10%  + $25000*20% = $ 6000.

In [15]:
x=45000
(lambda a : (x-20000)*20/100 + 1000  if x>20000 else 0) (x) + (lambda b : (x-10000)*10/100 if x<=20000 and x>10000 else 0) (x)

6000.0

# Question 13: Print multiplication table form 1 to 10

In [16]:
for i in range(10): print(i+1,':', [(j+1)*(i+1) for j in range(10)])

1 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2 : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
3 : [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
4 : [4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
5 : [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
6 : [6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
7 : [7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
8 : [8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
9 : [9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
10 : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Question 14: Print downward Half-Pyramid Pattern with Star (asterisk)
X X X X X<br>
X X X X<br>
X X X  <br>
X X <br>
X <br>

In [17]:
for i in range(5,0,-1): print('* '*i)

* * * * *
* * * *
* * *
* *
*

# Question 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

In [18]:
def exponent(base,exp):
    return base**exp

exponent(int(input('Enter Base:')),int(input('Enter Exp:')))

Enter Base:5
Enter Exp:6

15625